---
layout: default
---
<h1>{{ page.tag }}</h1>

<p>Bu etikete sahip tüm makaleler:</p>

<ul>
  {% for post in site.tags[page.tag] %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <small>{{ post.date | date_to_string }}</small>
    </li>
  {% endfor %}
</ul>

<div class="tag-cloud">
  <h2>Tüm Etiketler</h2>
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    <a href="{{ '/tags/' | append: tag[0] | relative_url }}" 
       style="font-size: {{ tag[1].size | times: 4 | plus: 80 }}%">
       {{ tag[0] }}
    </a>
  {% endfor %}
</div>
